/*MODIFIÉ*/
@font-face {
	font-family: 'comfortaa-bold';
	src : url('font/ComfortaaBold/comfortaa-bold-webfont.eot');
	src : url('font/ComfortaaBold/comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('font/ComfortaaBold/comfortaa-bold-webfont.woff2') format('woff2'),
			url('font/ComfortaaBold/comfortaa-bold-webfont.ttf') format('truetype'),
			url('font/ComfortaaBold/comfortaa-bold-webfont.svg#typeWriter') format('svg');
}

@font-face {
	font-family: 'comfortaa-light';
	src : url('font/ComfortaaLight/comfortaa-light-webfont.eot');
	src : url('font/ComfortaaLight/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
			url('font/ComfortaaLight/comfortaa-light-webfont.woff2') format('woff2'),
			url('font/ComfortaaLight/comfortaa-light-webfont.ttf') format('truetype'),
			url('font/ComfortaaLight/comfortaa-light-webfont.svg#typeWriter') format('svg');
}

@font-face {
	font-family: 'comfortaa-regular';
	src : url('font/ComfortaaRegular/comfortaa-regular-webfont.eot');
	src : url('font/ComfortaaRegular/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('font/ComfortaaRegular/comfortaa-regular-webfont.woff2') format('woff2'),
			url('font/ComfortaaRegular/comfortaa-regular-webfont.ttf') format('truetype'),
			url('font/ComfortaaRegular/comfortaa-regular-webfont.svg#typeWriter') format('svg');
}


a
{
	color:rgb(153,51,102);
	text-decoration: none;
}

a:hover 
{
	text-decoration: underline;

}

body
{
    background-image:url("images/background.jpg");
    background-attachment: fixed;
}

#maintenance
{
    width : 100%;
    margin-top:0%;
    margin-left: 0%;
    text-align: center;
    color:white;
    box-shadow: 5px 5px 5px black;
    font-size:0.5em;
    font-family: comfortaa-regular, Arial, sans-serif;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header
{
	background: rgb(255, 255, 255);
	width: 70%;
	margin: auto;
	box-shadow: 5px 5px 5px black;
	padding-left: 5px;
    padding-right: 5px;
    padding-top:5px;
    padding-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

@media all and (max-device-width: 480px) /* Pour les mobiles */
{
    header
    {
        width: 90%;
    }
}

header p
 {
    text-align:center;
 }

 header .logo
 {
    border-radius: 20px;
    width:20%;
 }

 header .liste
 {
    width:18%;
 }

 .elementHeader:nth-child(1)
 {
     flex:2;
 }

 .elementHeader:nth-child(2)
 {
     flex:2;
 }

 #header
 {
     display: flex;
 }
 
 .elementHeader
 {
     flex:1;
 }

section
{
    background: rgba(255,255,255);
	width: 70%;
    margin: auto;
    margin-top:5px;
    margin-bottom: 14px;
	box-shadow: 5px 5px 5px black;
	padding-left: 5px;
    padding-right: 5px;
    padding-top:0px;
    padding-bottom: 5px;
}
h2
{
    color: rgb(1, 70, 182);
     font-family: comfortaa-regular, Arial, sans-serif;
     text-align:center;
     font-size:1.5em;
     text-decoration: underline;
}

@media all and (max-device-width: 480px) /* Pour les mobiles */
{
  section
  {
    width: 90%;
  }
 }

 .h1
 {
     color: rgb(1, 70, 182);
     font-family: comfortaa-bold, Arial, sans-serif;
     text-align:center;
     font-size:3em;
     text-decoration: underline;
 }



 p
 {
     color:rgb(1, 70, 182);
     font-family: comfortaa-regular, Arial, sans-serif;
     font-size:1.5em;
 }

 p strong
 {
    color:rgb(98, 180, 228);
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:1em;
    font-weight: normal;
 }

 p a 
 {
    font-family: comfortaa-light, Arial, sans-serif;
 }

 .pdp
 {
     text-align:center;
     margin:auto;
     width: 90%;
 }

 .logo
 {
     border-radius: 20px;
 }

 footer
{
	background: rgb(255, 255, 255);
	width: 70%;
	margin: auto;
	box-shadow: 5px 5px 5px black;
	padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}

@media all and (max-device-width: 480px) /* Pour les mobiles */
{
  footer
  {
    width: 90%;
  }
 }

#footer
{
	display: flex;
}

.elementFooter
{
	flex:1;
}

.elementFooter p
{
	font-family: comfortaa-regular, Arial, sans-serif;
	color:rgb(98, 180, 228);
    font-size:0.9em;
}

footer p a
{
	font-size:0.9em;

}

/*
//      Section pour la liste adhérent
//
//
//
//
*/

.lien
{
    color:blue;
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:1.5em;
}

#li
{
    display:flex;
}

.liElement
{
    flex:1;
}

.classe
{
    color:rgb(0, 0, 184);
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:1.5em;
}

.statut
{
    color:rgb(145, 145, 153);
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:1.5em;
}

.searchBar
{
    color:blue;
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:0.5em;
    width : 200px;
    height : 20px;
    margin-left:5px;
    border-radius: 10px;
}

#topBar, #topBarSecond
{
    display:flex;
    justify-content: space-around;
}


.addButton
{
    color:rgb(21, 255, 0);
}

#checkbox
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.checkboxElement
{
    width:30%;
    margin: 10px 10px 10px 10px;
    border: 2px rgb(1, 70, 182) solid;
    border-radius: 20px;
}

.checkboxElement:hover
{
    box-shadow:2px 2px 2px black;
}

.checkboxElement p 
{
    font-size: 2em;
    text-align:center;
}

.checkboxElement p strong, .checkboxElement p span
{
    text-align:center;
    font-size: 0.8em;
}

#sendButton
{
    position:fixed;
    margin-left:2%;
    margin-top:5%;
    border-color:rgb(10, 179, 4);
    border-width:4px;
    border-radius:20px;
    background-color:gray;
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:1em;
    width:10%;
    text-align:center;
    box-shadow:2px 2px 2px black;
}

.sendButton
{
    font-size:1em;
    color:whitesmoke;
    font-family: comfortaa-regular, Arial, sans-serif;
}

#sendButton:hover
{
    box-shadow:0px 0px 0px black;
}

#backButton
{
    position:fixed;
    margin-left:2%;
    margin-top:10%;
    border-color:rgb(255, 41, 41);
    border-width:4px;
    border-radius:20px;
    background-color:rgb(255, 41, 41);
    width:10%;
    text-align:center;
    box-shadow:2px 2px 2px black;
}

#backButton:hover
{
    box-shadow:0px 0px 0px black;
}

.backButton
{
    color:white;
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:1em;
}
@media all and (max-device-width: 480px) /* Pour les mobiles */
{
    .backButton, .sendButton
    {
        font-size:1.5em;
    }

    #backButton
    {
        width:15%;
        margin-top:15%;
    }
    #sendButton
    {
        width:15%;
        margin-top:5%;
    }
}

.pdpForAll
{
    width:20%;
    border-radius: 20px;

}




/*
//
//
// POUR LA FICHE ADHÉRENT D'UN AUTRE ADHÉRENT
//
//
*/

#codeButton
{
	display: flex;
}

.codeButtonElement
{
	flex:1;
}

.info
{
    color:gray;
}

.pointFidelite
{
    border: 1px solid rgb(98, 180, 228);
  	border-radius: 20px;
  	height:30px;
  	width:200px;
  	font-family: comfortaa-bold, Arial, sans-serif;
	color:rgb(98, 180, 228);
	font-size:1em;
	margin: auto;
}

.modification
{
    font-family: comfortaa-bold, Arial, sans-serif;
    color :rgb(98, 180, 228);
    text-align:center;
}


/*
//
//
//  MODIFICATIONS OU AJOUT D'UN ADHÉRENT (adherentInformations.php)
//
//
*/

.formulaire
{
    border-radius: 20px;
    border-width:3px;
    border-color:rgb(98, 180, 228);
    font-family: comfortaa-light, Arial, sans-serif;
    font-size:1em;
    color:blue;
}

.validerFormulaire
{
    border-radius: 20px;
    border-width:3px;
    border-color:green;
    font-family: comfortaa-light, Arial, sans-serif;
    font-size:1em;
    color:blue;
}

.titreModification
{
    
    color: blue;
    font-family: comfortaa-bold, Arial, sans-serif;
    text-align:center;
    font-size:3em;
    text-decoration: underline;
}

.deleteButton
{
    text-align:center;
    font-family: comfortaa-bold, Arial, sans-serif;
    font-weight: bold;
}

.deleteButton a
{
    color:red;
}

.error
{
    color: rgb(235, 3, 53);
    font-family: comfortaa-bold, Arial, sans-serif;
    text-align:center;
    font-size:1.9em;
}

#choixSuppression
{
    display:flex;
    justify-content: space-around;
}