/*MODIFIÉ*/
@font-face {
	font-family: 'comfortaa-bold';
	src : url('font/ComfortaaBold/comfortaa-bold-webfont.eot');
	src : url('font/ComfortaaBold/comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('font/ComfortaaBold/comfortaa-bold-webfont.woff2') format('woff2'),
			url('font/ComfortaaBold/comfortaa-bold-webfont.ttf') format('truetype'),
			url('font/ComfortaaBold/comfortaa-bold-webfont.svg#typeWriter') format('svg');
}

@font-face {
	font-family: 'comfortaa-light';
	src : url('font/ComfortaaLight/comfortaa-light-webfont.eot');
	src : url('font/ComfortaaLight/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
			url('font/ComfortaaLight/comfortaa-light-webfont.woff2') format('woff2'),
			url('font/ComfortaaLight/comfortaa-light-webfont.ttf') format('truetype'),
			url('font/ComfortaaLight/comfortaa-light-webfont.svg#typeWriter') format('svg');
}

@font-face {
	font-family: 'comfortaa-regular';
	src : url('font/ComfortaaRegular/comfortaa-regular-webfont.eot');
	src : url('font/ComfortaaRegular/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('font/ComfortaaRegular/comfortaa-regular-webfont.woff2') format('woff2'),
			url('font/ComfortaaRegular/comfortaa-regular-webfont.ttf') format('truetype'),
			url('font/ComfortaaRegular/comfortaa-regular-webfont.svg#typeWriter') format('svg');
}


a
{
	color:rgb(153,51,102);
	text-decoration: none;
}

a:hover 
{
	text-decoration: underline;

}

body
{
    background-image:url("images/background.jpg");
    background-attachment: fixed;
}

#maintenance
{
    width : 100%;
    margin-top:0%;
    margin-left: 0%;
    text-align: center;
    color:white;
    box-shadow: 5px 5px 5px black;
    font-size:0.5em;
    font-family: comfortaa-regular, Arial, sans-serif;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#etatSite
{
    font-size:2em;
    color:white;
    font-family: comfortaa-regular, Arial, sans-serif;
    text-decoration: none;
}

header
{
	background: rgb(255, 255, 255);
	width: 70%;
	margin: auto;
	box-shadow: 5px 5px 5px black;
	padding-left: 5px;
    padding-right: 5px;
    padding-top:5px;
    padding-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

@media all and (max-device-width: 480px) /* Pour les mobiles */
{
    header
    {
        width: 90%;
    }
}

header p
{
    text-align:center;
    color:rgb(1, 70, 182);
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:1.5em;
}

header .logo
{
    border-radius: 20px;
    width:20%;
}

 .elementHeader:nth-child(1)
 {
     flex:2;
 }

 .elementHeader:nth-child(2)
 {
     flex:2;
 }

 #header
 {
     display: flex;
 }
 
 .elementHeader
 {
     flex:1;
 }

section
{
    background: rgba(255,255,255);
	width: 70%;
    margin: auto;
    margin-top:5px;
    margin-bottom: 14px;
	box-shadow: 5px 5px 5px black;
	padding-left: 5px;
    padding-right: 5px;
    padding-top:0px;
    padding-bottom: 5px;
}

@media all and (max-device-width: 480px) /* Pour les mobiles */
{
    section
    {
        width: 90%;
    }
}

h1
{
    color: rgb(1, 61, 156);
    font-family: comfortaa-bold, Arial, sans-serif;
    font-size:3em;
    text-decoration: underline;
}

h2
{
    color: rgb(1, 98, 253);
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:2em;
}

h3 strong
{
    text-decoration: underline;
    font-weight: normal;
}

h3
{
    color: rgb(1, 98, 253);
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:1em;
}

#projet, #securite, #utilisation, #erreur, #aPropos
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lienAide
{
    color: rgb(43, 116, 235);
    font-family: comfortaa-light, Arial, sans-serif;
}

section p
{
    font-size:2em;
    text-align: center;
}


#projet img, #securite img, #utilisation img, #erreur img, #aPropos img
{
    width:20%;
}

.projetElement, .securiteElement, .utilisationElement, .erreurElement, .aProposElement
{
    width:30%;
    margin: 10px 10px 10px 10px;
}

 .pdp
 {
     text-align:center;
     margin:auto;
     width: 90%;
 }

 .logo
 {
     border-radius: 20px;
 }

 footer
{
	background: rgb(255, 255, 255);
	width: 70%;
	margin: auto;
	box-shadow: 5px 5px 5px black;
	padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}

@media all and (max-device-width: 480px) /* Pour les mobiles */
{
  footer
  {
    width: 90%;
  }
 }

#footer
{
	display: flex;
}

.elementFooter
{
	flex:1;
}

.elementFooter p
{
	font-family: comfortaa-regular, Arial, sans-serif;
	color:rgb(98, 180, 228);
    font-size:0.9em;
}

footer p a
{
	font-size:0.9em;

}

/*
//
//                  POUR L'AFFICHAGE DE L'AIDE 
//
//
//                      afficheAide.php
*/

#titreAide
{
    text-align: center;
    color:rgb(0, 54, 231);
    size: 4em;
    text-decoration: underline;
}

#imageAide img
{
    width:30%;
}

#imageAide
{
    text-align: center;
}

#descriptionAide
{
    text-align:left;
    color: rgb(1, 98, 253);
    font-family: comfortaa-regular, Arial, sans-serif;
    font-size:2em;
}